.idea/
target/
troubleshooting-performance.iml
*.jfr
*.log

**/.classpath
**/.factorypath
**/.project
**/.settings/
**/*.iml
server.iml

docker-volumes/mysql
docker-volumes/prometheus/
docker-volumes/grafana

