version: "3"
services:

  mysql:
    image: mysql:8.0.23
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: test
    volumes:
      - ./docker-volumes/mysql:/var/lib/mysql

  app:
    restart: always
    image: tentativafc/troubleshooting-performance:1.0.0-snapshot
    environment:
      - MYSQL_HOST=mysql
      - MYSQL_PORT=3306
      - MYSQL_USER=root
      - MYSQL_PASSWORD=123456
    ports:
      - 8080:8080
      - 1099:1099
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 512M
        reservations:
          cpus: 1
          memory: 512M
    depends_on:
      - mysql

  prometheus:
    image: prom/prometheus
    user: "1000:1000"
    ports:
      - "9090:9090"
    volumes:
      - ./docker-volumes/prometheus:/prometheus

  grafana:
    image: grafana/grafana
    user: "1000:1000"
    ports:
      - "3000:3000"
    volumes:
      - ./docker-volumes/grafana:/var/lib/grafana
